---
import "../styles/bootstrap-grid.css";

const { name, bio, image } = Astro.props.author.attributes;
const imageUrl = (import.meta.env.STRAPI_URL ?? "") + image.data.attributes.formats.thumbnail.url;
const imageAlt = image.data.attributes.alternativeText;
---
<style>
.author-card{
  text-align: center;
  border-radius: 0;
	padding : 10px;
	height : 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.author-card img{
  width : 150px;
  height : 150px;
  border-radius : 50%;
	object-fit : cover;
}
</style>
<article class="author-card col-sm-6 col-lg-4 col-xl-3">
  <img src={imageUrl} alt={imageAlt}>
  <hgroup>
    <h5>{name}</h5>
    <p>{bio}</p>
  </hgroup>
</article>