---
import RoundButton from "./RoundButton.astro";

export interface Props {
	prevUrl: string;
	nextUrl: string;
    start: number;
    end: number;
    total: number;

}

const { prevUrl, nextUrl, start, end, total } = Astro.props;
---
<nav>
    <ul></ul>
    <ul>
    { prevUrl && (
        <li>
            <RoundButton href={prevUrl || '#'} size="1.5rem" ariaLabel="Previous Page" faClass="fa-solid fa-caret-left"/>
        </li>
    )}
        <li>
            {start + 1}–{end + 1} / {total}
        </li>
    { nextUrl && (
        <li>
            <RoundButton href={nextUrl || '#'} size="1.5rem" ariaLabel="Next Page" faClass="fa-solid fa-caret-right"/>
        </li>
    )}
    </ul>
    <ul></ul>
</nav>

<style>

</style>