---
import { Markdown } from "astro/components";
---
<div class="container">
  <article>
      <Markdown>
        ## 🚀 Project Structure

        This is the first iteration of Interpost v2, built with Strapi and Astro.

        Strapi is an open-source headless CMS, it allowed me to build a solid content layout in no time.
        I then consume the Strapi API with Astro, a brand new static site generator featuring all the latest trends in 
        terms of frontend tooling: 
        - Bundled with Vite, offering insane HMR speed and build times.
        - Can support any frontend framework, from React to Vue with Svelte, Preact and Lit.
        - Innovative templating technique, kind of a hybrid between FrontMatter, Svelte and JSX.

        Strapi is configured in a very standard way, but working with Astro has been very interesting since it has a
        very innovative way of allowing the developer to use their favorite language. In my case, I built a theme switcher
        using Svelte.

        The detailed tech stack is
        - Backend: Strapi
        - API: GraphQL
        - Frontend: Astro with Svelte renderer
        - CSS: Pico
        - Hosting: backend --> Heroku, frontend --> Netlify, media --> Cloudinary

      </Markdown>
      <h2>👀 Want to learn more?</h2>
      <p>
        Feel free to check <a href="https://github.com/withastro/astro"
          >our documentation</a
        > or jump into our <a href="https://astro.build/chat">Discord server</a>.
      </p>
  </article>
</div>

<style>
  article {
    padding-top: 2em;
    line-height: 1.5;
  }
  section {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 70ch;
  }

  .banner {
    text-align: center;
    font-size: 1.2rem;
    background: var(--color-light);
    padding: 1em 1.5em;
    padding-left: 0.75em;
    border-radius: 4px;
  }

  pre,
  code {
    font-family: var(--font-mono);
    background: var(--color-light);
    border-radius: 4px;
  }

  pre {
    padding: 1em 1.5em;
  }

  .tree {
    line-height: 1.2;
  }

  code:not(.tree) {
    padding: 0.125em;
    margin: 0 -0.125em;
  }
</style>
