---
import RoundButton from "../components/RoundButton.astro";
import ThemeSwitch from "../components/ThemeSwitch.astro";

export interface PageProps{
  title: string;
  fluid?: boolean
}

const { title, fluid } = Astro.props as PageProps;
const mainClass = `container${fluid ? "-fluid":""}`;
---
<style>
.main-logo {
  background: #444;
  color: #fff;
  border-radius: 6px;
  font-family: "Oleo Script", serif;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  vertical-align: middle;
}

footer {
  text-align: center;
}
footer .links {
  margin-bottom: 1rem;
}
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oleo+Script:400"/>
    <link rel="stylesheet" href="/theme-toggle.min.css"/>
    <script src="https://kit.fontawesome.com/e8f21c5038.js" crossorigin="anonymous"></script>
    <script is:inline src="/theme-toggle.js"></script>
  </head>
  <body>
    <!--Nav-->
    <nav class="container">
      <ul>
        <li><a class="contrast main-logo" href="/">Interpost</a></li>
      </ul>
      <ul>
        <li><a class="contrast" href="/posts">Articles</a></li>
        <li><a class="contrast" href="/about">La team</a></li>
        <li>
          <ThemeSwitch />
        </li>
      </ul>
    </nav>

    <!--Main content-->
    <main class={mainClass}>
      <slot />
    </main>

    <!--Footer-->
    <footer>
      <div class="links">
        <RoundButton href="https://www.facebook.com/Interpostorientation" faClass="fa-brands fa-facebook-f" external/>
        <RoundButton href="https://youtu.be/dQw4w9WgXcQ" faClass="fa-brands fa-youtube" external/>
        <RoundButton href="#" faClass="fa-solid fa-rss"/>
      </div>
      <small>&copy; Interpost. All rights reserved</small>
    </footer>
  </body>
</html>
