---
export interface PageProps{
  title: string;
  fluid?: boolean
}

const { title, fluid } = Astro.props as PageProps;
const mainClass = `container${fluid ? "-fluid":""}`;
---
<style>
.main-logo {
  background: #444;
  color: #fff;
  border-radius: 6px;
  font-family: "Oleo Script", serif;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 0.8em;
  letter-spacing: 0.05em;
  display: inline-block;
  vertical-align: middle;
}

footer {
  text-align: center;
}
footer .links a {
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 1rem;
}
</style>

<script>
  import themeSwitcher from "../utils/theme-switcher.js";
  themeSwitcher.init();
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oleo+Script:400"/>
    <script src="https://kit.fontawesome.com/e8f21c5038.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <!--Facebook SDK-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="49oAR1Mw"></script>

    <!--Nav-->
    <nav class="container">
      <ul>
        <li><a class="contrast main-logo" href="/">Interpost</a></li>
      </ul>
      <ul>
        <li><a class="contrast" href="/posts">Articles</a></li>
        <li><a class="contrast" href="/about">La team</a></li>
        <li><div class="theme-switcher"></div></li>
      </ul>
    </nav>

    <!--Main content-->
    <main class={mainClass}>
      <slot />
    </main>

    <!--Footer-->
    <footer>
      <div class="links">
        <a role="button" class="contrast" href="https://www.facebook.com/Interpostorientation" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a role="button" class="contrast" href="https://youtu.be/dQw4w9WgXcQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a role="button" class="contrast" href="#"><i class="fa-solid fa-rss"></i></a>
      </div>
      <small>&copy; Interpost. All rights reserved</small>
    </footer>
  </body>
</html>
