---
import Page from "../layouts/Page.astro";
import AuthorCard from "../components/AuthorCard.astro"
import getStrapiUrl from "../utils/env.js";

const data = await fetch(`${getStrapiUrl()}/graphql`,{
  method:'POST',
  headers: {'Content-Type':'application/json'},
  body: JSON.stringify({
    query: `
        query {
          authors(filters: { level: { eq: "TEAM" } }, sort: "id") {
            data {
              attributes {
                name
                bio
                image {
                  data {
                    attributes {
                      alternativeText
                      formats
                    }
                  }
                }
              }
            }
          }
        }
        `
  }),
}).then(res => res.json());
---
<style>
h1{
  text-align: center;
}
</style>
<Page title={"La team"}>
<h1>La team Interpost</h1>
<div class="row">
  {data.data.authors.data.map(author => <AuthorCard {author} />)}
</div>
</Page>